.register {
  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;

    h1 {
      font-family: none;
      font-size: 40px;
      font-weight: bolder;
    }

    h3 {
      font-size: 18px;

      span {
        color: rgb(220, 179, 45);
      }
    }
  }

  .box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 15px;
    margin-bottom: auto;

    .content {
      form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;

        input {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 300px;
          border: none;
          border-bottom: 0.2px solid rgb(106, 103, 103);
          direction: none;
          padding: 15px;
          outline: none;
          font-size: large;
        }

        button {
          padding: 10px 40px;
          border-radius: 50px;
          border: 1px solid rgb(220, 130, 45);
          font-size: 20px;
          color: rgb(220, 179, 45);
        }
      }
    }

    .line-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;

      .line {
        height: 150px;
        background-color: rgb(0, 0, 0);
        width: 0.5px;
      }

      p {
        padding: 1px;
        font-size: 10px;
        color: rgb(195, 22, 22);
      }
    }

    .social-option {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: flex-end;
      padding: 10px;
      gap: 10px;

      .groub-1 {
        display: flex;
        flex-direction: row;

        img {
          width: 40px;
        }

        .btn-1 {
          font-size: 15px;
          font-weight: 800px;
          border-radius: 3px;
          padding: 10px 40px;
          color: white;
          // border: 1px solid ;
          background-color: rgb(220, 179, 45);
        }

        .btn-2 {
          border-radius: 3px;
          font-size: 15px;
          font-weight: 800px;
          padding: 10px 30px;
          color: white;
          // border: 1px solid ;
          background-color: rgb(220, 179, 45);
        }
      }
    }
  }

  .footor {
    display: flex;
    flex-direction: column;
    padding: 5px;
    align-items: center;
    justify-content: center;
    gap: 10px;

    p {
      font-size: 11px;
    }
  }
}
