.review-page {
  max-width: 600px;
  margin: 50px auto;
  padding: 2rem;
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.highlight {
  color: #e67e22;
}

.review-textarea {
  width: 100%;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  resize: none;
  font-size: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.submit-review {
  background-color: #e67e22;
  border: none;
  padding: 0.8rem 1.5rem;
  color: white;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
}

.submit-review:hover {
  background-color: #cf711f;
}
