/* Resturants.css */
.restaurants-page {
  min-height: 100vh;
  background-color: #ffffff;
  color: #ffffff;
}

.page-title {
  text-align: center;
  font-size: 48px;
  margin-bottom: 40px;
  animation: slideIn 1s ease forwards;
}

.second-navbar {
  width: 97.7%;
  background-color: #713333; /* or whatever matches your theme */
  color: white;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
  margin-bottom: 30px;
}

.search-container {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 20px;
  color: #0a0a0a;
}

.search-container input {
  padding: 8px 12px;
  border: none;
  border-radius: 8px;
  outline: none;
  font-size: 16px;
  background-color: #e2e8f0;
  color: #1f2937;
}

.restaurants-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 40px;
  padding: 0 20px;
}

.restaurant-card {
  background-color: #623030;
  /*width: 90%; /* <-- control width here */
  /*max-width: 400px;*/
  padding: 20px;
  border-radius: 16px;
  text-align: center;
  text-decoration: none;
  color: #000000;
  transition: transform 0.3s ease, background-color 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

.restaurant-card:hover {
  transform: translateY(-8px);
  background-color: #cec875;
}

.restaurant-image {
  width: 200px;
  height: 140px;
  margin-bottom: 20px;
  object-fit: cover;

  padding: 10px;
  border-radius: 10px;
}

.restaurant-card h2 {
  font-size: 24px;
  margin: 10px 0 5px;
}

.restaurant-card p {
  font-size: 16px;
  color: #000000;
}
.buttons {
  border-radius: 10px;
  size: 250px;
  gap: 20px;
  background-color: #efe14e;
  transform: translateY(-2px);
  cursor: pointer;
  box-shadow: 0 4px 10px #c75e08;
}

/* Animation */
@keyframes slideIn {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
